<link href="/assets/application.css" media="screen" rel="stylesheet" />

<body>
<div>
<h1 class="title" ><b>EC-CART</b></h1>
<h3 align="center" >Grocery Online</h3>

<p align="center"><%= a=image_tag("cart1.jpg", height: '350', width: '350') %></p>
</div>



</body>


